
@media all and (min-width: 900px){
    #resultPageDiv{
        width:100vw;
        color: whitesmoke;
        text-align: center;
    }
    #cityLabel{
        font-size: 7vw;
    }
    .mobileHr{
        display:none;
    }

    #bigWeatherIconDiv{
        max-width: 20vw;
        grid-area: c4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: c1;
        margin: 0 auto;
    }
    #rightSide{
        grid-area: c2;
        margin: auto auto;
        display: grid;
        grid-template: 
        " . x1 x1 . "
        " . x1 x1 . "
        " x3 x2 x2 x4"
        " x3 x2 x2 x4 "
    }
    #bigWeatherIcon{
        max-width: 14vw;
    }
    #tempAndDescription{
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: x1;
    }
    #windDiv, #humidityDiv{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 1em;
        font-size: 2vw;
    }
    #windAndHumidity{
        display:flex;
        justify-content: center;
        align-items: center;
        grid-area: x2;
        text-align: center;
    }
    .windAndHumidityIconsDiv{
        margin: auto auto;
    }
    #windIcon{
        grid-area: x3;
        max-width: 5vw;
    }
    #humidityIcon{
        grid-area: x4;
        max-width: 5vw;
    }
    #actualWeatherDiv{
        height: 60vh;
        display: grid;
        grid-template: "c1 c2";
        
    }
    #closeButton{
       position: absolute;
       top: 1vh;
       right: 5vw; 
    }
    #weatherForecastDiv{
        height: 40vh;
        background: whitesmoke;
        color: gray;
        overflow: hidden;
    }
    #FivedayWeatherLabel{
        margin: 1vh 0 0 0;
    }
    .forecastIconImg{
        max-width: 6vw;
    }
    .minMaxTemp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .minTemp, .maxTemp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1vw;
    }
    .mobileForecastDiv{
        display: flex;
        flex-direction: row;
        display: none;
    }
    .forecastTab{
        margin: 2vh 3vw;
        font-size: 1.4vw;

    }
    #forecastTabs{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .forecastIconImg{
        margin: 1vh;
    }
    #minAnaMaxTemp{
        display: none;
    }
}

@media all and (max-width: 899px){
    img{
        max-width: 20vw;
    }
    .fullScreen{
        display: none;
    }
#resultPageDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: whitesmoke;
    overflow-x: hidden;
}
#closeButton{
    position: absolute;
    top: 1vh;
    right: 12vw; 
 }
 #cityLabel{
    font-size: 12vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 4vh;
}
#bigWeatherIconDiv{
    max-width: 12vw;
    grid-area: c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: c1;
    margin: 2vh auto;
}
#bigWeatherIcon{
max-width: 35vw;
}

#tempAndDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    grid-area: x1;
}
#descriptionLabel{
    order:-1;
}

#windDiv, #humidityDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    font-size: 5vw;
}
#windAndHumidity{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: x2;
    text-align: center;
    margin-top: 10vh;
    
}
.windAndHumidityIconsDiv{
    margin: auto auto;
    margin-top: 10vh;
    
}
#windIcon{
    grid-area: x3;
    max-width: 18vw;
}
#humidityIcon{
    grid-area: x4;
    max-width: 18vw;
}
#rightSide{
    margin: auto auto;
    display: grid;
    grid-template: 
    "x1 x1 x1 x1"
    "x1 x1 x1 x1"
    " x3 x2 x2 x4"
    " x3 x2 x2 x4 ";
}
#minAnaMaxTemp{
    /* display: none; */
    display: flex;
    margin-top:2vh;
    /* position: absolute;
    bottom: 3vh; */
    
}
.detailsDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    font-size: 5vw;
}
#minTIcon{
    order:-3;
}
#weatherForecastDiv{
    color: gray;
    overflow-x: scroll;
    /* position: absolute;
    top: 105vh; */
}
#FivedayWeatherLabel{
    max-width: 80vw;
    text-align: center;
    margin-top: 12vh;
    
}
.mobileHr{
    color: gray;
}
.mobileForecastDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.forecastTab{
    margin: 3vh;
    text-align: center;
}
.minMaxTemp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.minTemp, .maxTemp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}
.forecastIconImg{
    margin: 1vh;
}


}




