<div id="homePageDiv">
  <div class="icons">
    <mat-icon>cloud_queue</mat-icon>
    <mat-icon>wb_sunny</mat-icon>
    <mat-icon>cloud_queue</mat-icon>
  </div>
  <h1 id="title">Weather Forecast</h1>
  <!-- <hr id="underTitleLine"> -->
  <mat-form-field appearance="outline" class="city-form-field">
    <input matInput type="text" placeholder="City" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button class="city-button" color="primary" (click)="submit()">Search by city</button>

  <div id="recentCitiesDiv">
    <h2 id="recentTitle">Recent searched cities:</h2>

    <span class="recentCityLabel" *ngFor="let city of rs.cities ">
      <a [routerLink]="['/result', city]" class="recentSearches" routerLinkActive="router-link-active">{{city}}</a>
    </span>
  </div>

  <div class="autors"></div>
</div>