@media all and (min-width: 900px){
#homePageDiv{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}
.city-form-field{
    width: 50vw;
}
.city-button{
    width: 35vw;
    text-align: center;
}
#title{
    font-size: 8vw;
    margin: 0 auto;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 8vh;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    padding-bottom: 0;
    margin: 0 auto;
}
#underTitleLine{
    color: whitesmoke;
    background: whitesmoke;
    width: 65vw;
    max-height: 1vh;
    padding-bottom: 10vh;
}
#recentCitiesDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 3vh;
}
.recentCities{
    margin: 2vh;
}
.footer{
    color:gray;
    font-size: 1.1em;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin: 2vh 0;
    max-width: 80vw;
    text-align: center;
}
.autors{
    color: whitesmoke;
    font-size: 1.6em;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin: 4vh 0;
    max-width: 80vw;
    text-align: center;
}
.recentSearches {
    color: #fff;
    font-size: 1.6em;
    text-decoration: none;
}
}

@media all and (max-width: 899px){
    #homePageDiv{
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        height: 100vh;
    }
    .city-form-field{
        width: 50vw;
    }
    .city-button{
        width: 35vw;
        text-align: center;
    }
    #title{
        font-size: 8vw;
        margin: 0 auto;
        font-family: 'Russo One', sans-serif;
        padding-bottom: 8vh;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        width: 30vw;
        padding-bottom: 0;
        margin: 0 auto;
    }
    #underTitleLine{
        color: whitesmoke;
        background: whitesmoke;
        width: 65vw;
        max-height: 1vh;
        padding-bottom: 10vh;
    }
    #recentCitiesDiv{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 3vh;
    }
    .recentCities{
        margin: 2vh;
    }
    .footer{
        color:gray;
        font-size: 0.5em;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        margin: 2vh 0;
        max-width: 80vw;
        text-align: center;
    }
    .autors{
        color: whitesmoke;
        font-size: 0.7em;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        margin: 4vh 0;
        max-width: 80vw;
        text-align: center;
    }
    .recentSearches {
        color: #fff;
        font-size: 1.6em;
        text-decoration: none;
    }
    }